.element-container {
  margin: 5px;
  padding: 5px;
}
.element-container span {
  border: 1px solid black;
  padding: 2px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.element-container span:hover {
  background-color: rgb(201, 238, 238);
}
